<template>
    <v-group :config="tokenConfig" ref="group" @dragend="onDragend($event)">
        <v-image v-if="entity.token.image.asset" :config="imageConfig"></v-image>
        <component v-else :is="shapeConfig.type" :config="shapeConfig.config"></component>
    </v-group>
</template>

<script>
    import { mapGetters, mapState } from 'vuex';

    export default {
        props: {
            gridSpace: {
                type: Object,
                require: true
            },
            entity: {
                type: Object,
                required: true
            }
        },
        computed: {
            ...mapGetters('entities', {
                getEntityByRef: 'getEntityByRef'
            }),
            ...mapState({
                entities: 'entities'
            }),
            // Config for v-group acting as token root
            tokenConfig() {
                return {
                    draggable: true,
                    position: this.gridSpace.gridToStage(this.entity.token.pos)
                }
            },
            imageConfig: function() {
                const token = this.entity.token;
                const image = token.image;
                const tokenSize = Math.floor(this.gridSpace.size);
                const asset = this.getEntityByRef(image.asset, this.entity).asset;

                let scale = tokenSize / Math.max(image.width, image.height);
                scale = scale * (token.size || 1);

                return {
                    image: asset['@data'],
                    width: image.width * scale,
                    height: image.height * scale,
                    offsetX: image.origin.x * scale,
                    offsetY: image.origin.y * scale
                };
            },
            shapeConfig() {
                return {
                    type: 'v-circle',
                    config: {
                        radius: Math.floor(this.gridSpace.size / 2) - 1,
                        fill: this.entity.token.image.color || 'white'
                    }
                }
            }
        },
        methods: {
            onDragend() {
                this.$emit('moved', {
                    position: this.$refs.group.getNode().position(),
                    entity: this.entity
                });
            }
        }
    }
</script>
